# 1.Indexing

In [1]:
lst0 = [1,2,3]
lst1 = [4,5,6]
lst2 = [7,8,9]

# List of lists is required to form matrix

matr = [lst0,lst1,lst2]
print(matr)
print(matr[1][2]) # [1] = row, [2] = column

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
6

# 2.Creation

In [2]:
# Create matrix of grade visualization of 7 students x 4 subjects
# Each subject is out of 100
# Each student per column will have 4 subjects against each of them
# Subjects - Math, English, Physics, Computer Science
# Students - Tim, Kim, John, Ron, Harry, Sully, Kelly
# Row - 0 to 6, Column - 0 to 3

lst0 = [50,60,70,90]
lst1 = [66,70,91,75]
lst2 = [60,55,71,12]
lst3 = [32,43,33,20]
lst4 = [12,43,55,66]
lst5 = [32,43,90,99]
lst6 = [40,77,99,43]

lst_st = [lst0,lst1,lst2,lst3,lst4,lst5,lst6]
print(lst_st)
print(lst_st[2][1])

[[50, 60, 70, 90], [66, 70, 91, 75], [60, 55, 71, 12], [32, 43, 33, 20], [12, 43, 55, 66], [32, 43, 90, 99], [40, 77, 99, 43]]
55

In [3]:
# Finding the lists in lists

lst = ['mostafa', 'saad', 'ibrahim']
lst2 = [lst,(5,7)]

print(lst)
print(lst2)
print(lst2[0][1],lst2[1][1])

['mostafa', 'saad', 'ibrahim']
[['mostafa', 'saad', 'ibrahim'], (5, 7)]
saad 7

In [4]:
# List example

lst = [[[1]]]
print(lst,lst[0],lst[0][0],lst[0][0][0])

[[[1]]] [[1]] [1] 1

# 3.Printing

In [5]:
# Approach - 1

lst1 = [1,2,3,4]
lst2 = [5,6]
lst3 = [9,10,11,12,13]

grades = [lst1,lst2,lst3]

for lst in grades:
  print(lst)

print()

for lst in grades:
  print(*lst)

[1, 2, 3, 4]
[5, 6]
[9, 10, 11, 12, 13]

1 2 3 4
5 6
9 10 11 12 13

In [6]:
# Approach - 2

lst1 = [1,2,3,4]
lst2 = [5,6]
lst3 = [9,10,11,12,13]

grades = [lst1,lst2,lst3]

for i,lst in enumerate(grades):
  for j, item in enumerate(lst):
    print(item, end=' ')
  print()

1 2 3 4
5 6
9 10 11 12 13

In [7]:
# Approach - 3

lst1 = [1,2,3,4]
lst2 = [5,6]
lst3 = [9,10,11,12,13]

grades = [lst1,lst2,lst3]

for i in range(len(grades)): # vertical length of the matrix - number of rows
  for j in range(len(grades[i])): # horizontal length of each row - number of columns
    print(grades[i][j], end=' ')
  print()

1 2 3 4
5 6
9 10 11 12 13

# 4.Reading

In [ ]:
# Input number of rows

rows = int(input())
matrx = [0] * rows # [0,0,0]

# Inputting elements per row

for rw in range(rows):
  matrx[rw] = list(map(int, input().split()))

# Printing the entire matrix
print(matrx)

print()
for lst in matrx:
  print(lst)

3
1 2 3 4
5 6
10 11 12 13 14
[[1, 2, 3, 4], [5, 6], [10, 11, 12, 13, 14]]

[1, 2, 3, 4]
[5, 6]
[10, 11, 12, 13, 14]

# 5.Row-Major Order Processing

In [8]:
# Create matrix of grade visualization of 7 students x 4 subjects
# Each subject is out of 100
# Each student per column will have 4 subjects against each of them
# Subjects - Math, English, Physics, Computer Science
# Students - Tim, Kim, John, Ron, Harry, Sully, Kelly
# Row - 0 to 6, Column - 0 to 3
# Find the average per student for all subjects
# We can find the average by doing average per row

lst0 = [50,60,70,90]
lst1 = [66,70,91,75]
lst2 = [60,55,71,12]
lst3 = [32,43,33,20]
lst4 = [12,43,55,66]
lst5 = [32,43,90,99]
lst6 = [40,77,99,43]

lst_st = [lst0,lst1,lst2,lst3,lst4,lst5,lst6]

print()
for lst in lst_st:
  print(lst)

# Empty list for storing the average of the students

row_avg = []

for lst in lst_st:
  print(lst,end=' ')
  sum = 0
  for sub in lst:
    sum = sum + sub
  avg = sum/len(lst)
  row_avg.append(avg)
  print(sum,len(lst),avg)

print(row_avg)

# Pythonic Way - same result but more concise
# row_avg = [sum(lst)/len(lst) for lst in lst_st]

[50, 60, 70, 90]
[66, 70, 91, 75]
[60, 55, 71, 12]
[32, 43, 33, 20]
[12, 43, 55, 66]
[32, 43, 90, 99]
[40, 77, 99, 43]
[50, 60, 70, 90] 270 4 67.5
[66, 70, 91, 75] 302 4 75.5
[60, 55, 71, 12] 198 4 49.5
[32, 43, 33, 20] 128 4 32.0
[12, 43, 55, 66] 176 4 44.0
[32, 43, 90, 99] 264 4 66.0
[40, 77, 99, 43] 259 4 64.75
[67.5, 75.5, 49.5, 32.0, 44.0, 66.0, 64.75]

# 6.Column-Major Order Processing

In [9]:
# Find the average of students per subject
# We can find the average by doing average per column

lst0 = [50,60,70,90]
lst1 = [66,70,91,75]
lst2 = [60,55,71,12]
lst3 = [32,43,33,20]
lst4 = [12,43,55,66]
lst5 = [32,43,90,99]
lst6 = [40,77,99,43]

lst_st = [lst0,lst1,lst2,lst3,lst4,lst5,lst6]

print()
for lst in lst_st:
  print(lst)

print()

# Empty list for storing the average of the students

col_avg = []

for col in range(len(lst_st[0])): # horizontal length of each row - number of columns
  sum = 0
  for row in range(len(lst_st)): # vertical length of the matrix - number of rows
    sum = sum + lst_st[row][col]
  avg = sum/len(lst_st)
  col_avg.append(avg)
  print(sum,len(lst_st),avg)

print(col_avg)

[50, 60, 70, 90]
[66, 70, 91, 75]
[60, 55, 71, 12]
[32, 43, 33, 20]
[12, 43, 55, 66]
[32, 43, 90, 99]
[40, 77, 99, 43]

292 7 41.714285714285715
391 7 55.857142857142854
509 7 72.71428571428571
405 7 57.857142857142854
[41.714285714285715, 55.857142857142854, 72.71428571428571, 57.857142857142854]

In [10]:
# Another Approach - Pythonic Way
# It is done by unpacking the lists inside the matrix and then zipping them

grades = [[1,2,3,4],[5,6],[9,10,11,12,13]]
for rows in grades:
  print(rows)
print()

# Zipping & Unpacking

for a,b,c in zip(*grades):
  print(a,b,c)
print()

[1, 2, 3, 4]
[5, 6]
[9, 10, 11, 12, 13]

1 5 9
2 6 10

In [11]:
col_avg = []
for tup in zip(*grades):
  print(tup)
  print(*tup)
  sum = 0
  for item in tup:
    sum = sum + item
  avg = sum / len(tup)
  col_avg.append(avg)
  print(sum,len(tup),avg)

# Computing average along the column using comprehension

# col_avg = [sum(tup)/len(tup) for tup in zip(*grade1)] - gives error that int object not callable
print()
print(col_avg)

(1, 5, 9)
1 5 9
15 3 5.0
(2, 6, 10)
2 6 10
18 3 6.0

[5.0, 6.0]

# 7.Nesting Comprehensions

In [12]:
# Flattening a list

lst_of_lsts = [[1,2],[3],[1,2,3,4,5,6],[9,10,11,12]]
lst1 = []

for lst in lst_of_lsts:
  for item in lst:
    lst1.append(item)
print(lst1)

# Pythonic approach to flatten a list

lst2 = [item for lst in lst_of_lsts for item in lst] # the innermost list will be at the end
print(lst2)

[1, 2, 3, 1, 2, 3, 4, 5, 6, 9, 10, 11, 12]
[1, 2, 3, 1, 2, 3, 4, 5, 6, 9, 10, 11, 12]

In [13]:
# Adding an integer number to all the elements in the matrix

addls = [[item+10 for item in lst] for lst in lst_of_lsts]
print(addls)

[[11, 12], [13], [11, 12, 13, 14, 15, 16], [19, 20, 21, 22]]

In [14]:
# Generating pairs

lst1 = [1,2]
lst2 = [10,20,30]

pairs = []

for i in lst1:
  for j in lst2:
    pairs.append((i,j))

print(pairs)

# Pythonic Approach

pairs = [(item1,item2) for item1 in lst1 for item2 in lst2] # Comprehension on nested loop
print(pairs)

[(1, 10), (1, 20), (1, 30), (2, 10), (2, 20), (2, 30)]
[(1, 10), (1, 20), (1, 30), (2, 10), (2, 20), (2, 30)]

# 8.Creating Simple Grid

In [15]:
# Initiating a grid with zeros based on rows and columns number

rows,cols = 3,4
lst = [[0]*rows]*cols
print(lst)

# Changing a value at a particular position
lst[0][0] = 2
print(lst)
print(id(lst[0]), id(lst[1])) # the address are the same so in-place change takes place
print(id(lst[0][0]), id(lst[0][1])) # the adress of the initial starting of each list is same

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[2, 0, 0], [2, 0, 0], [2, 0, 0], [2, 0, 0]]
140437139533504 140437139533504
9793120 9793056

In [16]:
# Another approach

lst = [[0]*rows for i in range(cols)]
print(lst)

# Changing a value at a particular position
lst[0][0] = 2
print(lst)
print(id(lst[0]), id(lst[1])) # the address are different so only that element changes
print(id(lst[0][0]), id(lst[0][1])) # the adress of the initial starting of each list is different

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[2, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]
140437139531648 140437639591040
9793120 9793056

In [ ]:
# In the 1st case, the lists are multiplied by cols times
# It means modifying the list in the single place
# For the 2nd case, it loops for cols times, creating rows number of elemens for each turn

In [17]:
# Another Example

lst = [[x for x in range(rows)] for y in range(cols)]
print(lst)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

# 9.Position Neighbours

In [18]:
# For a position (i,j) we use two types of neighbours
# 4 neighbours - up(i-1,j), down(i+1,j), left(i,j-1), right(i,j+1)
# 8 neighbours - up, down, left, right, 
# 8 neighbours - up right(i-1,j+1), up left(i-1,j-1), down right(i+1,j+1), down left(i+1,j-1)

# Coding the 4 neighbour

def get_neighbours(i,j):
  # up, down, left, right

  di = [-1,1,0,0]
  dj = [0,0,-1,1]

  return [(i+di[d],j+dj[d]) for d in range(0,4,1)]

print(get_neighbours(0,0))
print(get_neighbours(3,6))

# Similarly, we can code 8 neighbours

[(-1, 0), (1, 0), (0, -1), (0, 1)]
[(2, 6), (4, 6), (3, 5), (3, 7)]

# 10.2D-1D Mapping

In [19]:
# We have 3x4 matrix
#lst = [
#    [8, 16, 9, 52], [0][0],[0][1],[0][2],[0][3]
#    [3, 15, 27, 6], [1][0],[1][1],[1][2],[1][3]
#    [14, 25, 2, 10] [2][0],[2][1],[2][2],[2][3]
#]
# We can flatten to flst = [8, 16, 9, 52, 3, 15, 27, 6, 14, 25, 2, 10]
# We can flatten id flst = [0, 01, 2, 03, 4, 05, 06, 7, 08, 09, 10, 11] 

# Relationship between indices
# lst[0][3] = 52 ⇒ is same as ⇒ flst[3]
# lst[1][0] = 3 ⇒ is same as ⇒ flst[4]

# For an NxM grid:
# 1. Given index (i, j), convert to its corresponding 1D flat index? E.g. (1, 0) ⇒ 4

# To convert from (i, j) in matrix to 1D array
# i * COLS + j - because it is completing 1 circle around the entire row

# (0, 0) ⇒ 0 * 4 + 0 = 0
# (0, 1) ⇒ 0 * 4 + 1 = 1
# (0, 2) ⇒ 0 * 4 + 2 = 2
# (0, 3) ⇒ 0 * 4 + 3 = 3
# (1, 0) ⇒ 1 * 4 + 0 = 4
# (1, 1) ⇒ 1 * 4 + 1 = 5
# (1, 2) ⇒ 1 * 4 + 2 = 6
# (1, 3) ⇒ 1 * 4 + 3= 7

In [20]:
# 2. Given index i in 1D flat index, convert to its corresponding 2D (i, j)? 4 ⇒ (1, 0)

#lst = [
#    [8, 16, 9, 52], [0][0],[0][1],[0][2],[0][3]
#    [3, 15, 27, 6], [1][0],[1][1],[1][2],[1][3]
#    [14, 25, 2, 10] [2][0],[2][1],[2][2],[2][3]
#]
# We can flatten to flst = [8, 16, 9, 52, 3, 15, 27, 6, 14, 25, 2, 10]
# We can flatten id flst = [0, 01, 2, 03, 4, 05, 06, 7, 08, 09, 10, 11] 

# To convert from index in 1D array to (i, j) in matrix


# i = idx//COLS, j = idx%COLS
# Idx = 6 ⇒ (6//4, 6%4) ⇒ (1, 2)
# Why? Idx = i * COLS + j

# Idx // COLS = (i * COLS + j)//COLS = i + 0, as j < COLS
# Idx % COLS = (i * COLS + j)%COLS = 0 + j, as j < COLS and (i*COLS)%COLS = 0