# 1.Introduction

In [1]:
# Set is unondered and does not preserve the insertion order
# The duplicate elements are removed from the set
# Once a set is created, its items cannot be changed, but you can add new items
# Items can be accessed by loop
# Basic functions include min,max,len,sort,all,any

st = {7,11,1,2,3,4,1,2,4,5,6}
print(st)

# Adding elements
st1 = set()
st1.add(10)
st1.add(20)
print(st1)

# Unordered - no guarantee of order
for i in st:
  print(i,end=' ')

{1, 2, 3, 4, 5, 6, 7, 11}
{10, 20}
1 2 3 4 5 6 7 11

In [2]:
# Set takes int,float,list,string,tuple,dictionary as single argument elements

st2 = set([1,2,3])
st3 = set('erwr')
st4 = set((1,2,3))
st5 = set({1:1,2:3})


#st1 = {[1,2,3]} - it will give error as unhashable
#st1 = set(1,2,3.5,'asdasd',(1,2,3)) # error because it can take only 1 argument
#st1 = {1,2,3.5,'asdasd',(1,2,3), {1:2,3:4},[1,2,3]} # error because mutables are there

stt = {1,2,3.5,'asdasd',(1,2,3)} # only immutables are accepted together - int,float,string,tuple

print(st2,st3,st4,st5)
print(stt)

{1, 2, 3} {'w', 'e', 'r'} {1, 2, 3} {1, 2}
{1, 2, 3.5, (1, 2, 3), 'asdasd'}

# 2.Methods

In [3]:
st1 = {1,3,5,7,9,10}

st1.add(-20)
st1.remove(10) # will give error if does not exist
st1.discard(55) # will not give error if does not exist
a = st1.pop() # removes random element

print(st1,a)

st1.clear()
print(st1)

{3, 5, 7, 9, -20} 1
set()

# 3.Comprehension

In [4]:
line = 'My name is Jawwad Shadman Siddique'

unique_vowels = {i for i in line if i in 'aeiou'}
print(unique_vowels)

{'a', 'e', 'u', 'i'}

# 4.Union & Intersection

In [5]:
# Union includes all the elements in both the sets

s1 = {1,5,7,9}
s2 = {1,5,3,10}

print(s1|s2)
print(s1.union(s2))

{1, 3, 5, 7, 9, 10}
{1, 3, 5, 7, 9, 10}

In [6]:
# Intersection includes all the elements common to both the sets

s1 = {1,5,7,9}
s2 = {1,5,3,10}

print(s1&s2)
print(s1.intersection(s2))

{1, 5}
{1, 5}

In [7]:
# Disjoint - returns true if there are not intersection

s1 = {1,5,7,9}
s2 = {1,5,3,10}

print(s1.isdisjoint(s2))
print(s1.isdisjoint([4,6]))

False
True

# 5.Difference

In [8]:
s1 = {1,5,7,9}
s2 = {1,5,3,10}

# Return the set of all elements that are in s1 but not in s2
print(s1-s2)
print(s1.difference(s2))

# Return the set of all elements in either s1 or s2 but not in both
print(s1^s2)
print(s1.symmetric_difference(s2))

{9, 7}
{9, 7}
{3, 7, 9, 10}
{3, 7, 9, 10}

# 6.Subset & Superset

In [9]:
# Subset - true if every element of s1 is in s2

s1 = {1,5}
s2 = {2,1,5,3}

print(s1<=s2)
print(s1.issubset(s2))

True
True

In [10]:
# Superset - if every element of s1 is in s2 but not equal

s1 = {1,5}
s2 = {2,1,5,3}
s3 = {5,1}

print(s1<s2)
print(s1.issuperset(s2))
print(s1.issuperset(s3))
print(s2.issuperset(s1))
print(s2>s3)
print(s1<=s2)
print(s2>=s1)

True
False
True
True
True
True
True

# 7.Update

In [11]:
# Updates and stores in the same set

s1 = {1,5,7,4}
s2 = {1,5,3,10}

s1 |= s2 # union and update s1, same for intersection(&) and difference(-,^)
print(s1)

{1, 3, 4, 5, 7, 10}

# 8.Frozenset

In [12]:
# Required for an immutable set

set1 = frozenset([1,5,7,9,1])
print(set1)

# Example: Required immutable as a key in dictionary

dct = {set1:5}

for key,value in dct.items():
  for elem in key:
    print(elem,end=" ")

frozenset({1, 5, 9, 7})
1 5 9 7