# 1.Intro,Input & Output

In [1]:
# Input, print, addition, multiplication

s1 = input()
s2 = input()

s3 = s1+s2*3

print(s1)
print(s2)
print(s3)

hello
test
hello
test
hellotesttesttest

In [2]:
# String to list

str_lst = list(s1)

print(str_lst)
print(str_lst[1])

for idx, item in enumerate(str_lst):
  print(idx, item)

['h', 'e', 'l', 'l', 'o']
e
0 h
1 e
2 l
3 l
4 o

# 2.Basic Functions

In [3]:
# Basic Functions - len,max,min,sort,conversion(tuple,list)

s1 = 'moST'

print(len(s1),max(s1),min(s1))
print(sorted(s1)) # outputs a list
print(tuple(sorted(s1))) # converts into tuple

4 o S
['S', 'T', 'm', 'o']
('S', 'T', 'm', 'o')

# 3.Indexing & Slicing

In [4]:
s1 = 'moST'

print(s1[0], s1[-1], s1[1:])
print(s1[:])
print(s1[::-1])

# Typerror: s1[0] = 'C' | del s1[0] | Items cannot be changed, added or deleted in a string
# In order to do so we might need to add another string or convert it to a list

m T oST
moST
TSom

# 4.Immutability

In [9]:
# Item assignment/adding new element/changing a string element

stitem = 'Hello' # suppose we want to replace 'e' with 'k'
stitem = stitem[:1] + 'k' + stitem[1:] # We notice the index at which the change will be made
print(stitem)

# We can also do this converting it into list

stitem = 'Hello'
stitem = list(stitem)
stitem[1] = 'k'
print(stitem)

# If we want to convert the list into a string then we use join function (explained later on)

Hkello
['H', 'k', 'l', 'l', 'o']

# 5.List Comprehension on String

In [10]:
# Example 1

lst = ['Hello', 'World', 'Python', 'Is', 'Cool']
first_letters = [first[0] for first in lst]
print(first_letters)

['H', 'W', 'P', 'I', 'C']

In [12]:
# Example 2

small_first = [word[0].lower() for word in lst]
print(small_first)

['h', 'w', 'p', 'i', 'c']

In [13]:
# Example 3

my_str = 'Pleas 10 finds 124all dig0t9'

digit = [int(digword) for digword in my_str if digword.isdigit()]
print(digit)

[1, 0, 1, 2, 4, 0, 9]

# 6.Basic String Methods

In [14]:
# converts all the characters to lower/upper

print('abcDEF'.lower())
print('abcDEF'.upper())

abcdef
ABCDEF

In [15]:
# checks if all the characters are lower/upper

print('abc'.islower())
print('ABC'.isupper())
print('sgB'.isupper())
print('sgB'.islower())

True
True
False
False

In [16]:
# checks if all the characters are from 0 to 9
print('123'.isdecimal())

True

In [17]:
# checks the staring/ending portion

print('abcdefgh'.startswith('abc'))
print('abcdefgh'.endswith('fgh'))

True
True

In [18]:
# Counting the number of occurrences of an element

print('hihihihihi'.count('hi'))

5

In [19]:
# Finding an element/substring

print('abcdabcd'.find('bc')) # lowest index from where it starts
print('abcdabcd'.rfind('bc')) # highest index from where it starts

print('abcdabcd'.find('12')) # -1 if it does not exist
print('abcdabcd'.rfind('12')) # -1 if it does not exist

1
5
-1
-1

# 7.Spaces & Strip

In [20]:
# ' ' '\n' '\t' - are all considered as spaces

print(''.isspace())
print(' '.isspace())
print('\n'.isspace())
print('\t'.isspace())

False
True
True
True

In [21]:
# Strip() function strips of all the spaces in a string

print('\n\tHello    \t'.strip())

Hello

# 8.Split Method

In [22]:
# Splits the string at the designated points. By default it is empty space.

print('Hello this is a string'.split())
print('Hello, this, is a, string'.split(','))
print('Helloowerweurguiwerewqorj'.split('o'))
lst = 'qw'
print('qwrtteqwtrterqwtrqwtyytt'.split(lst))

['Hello', 'this', 'is', 'a', 'string']
['Hello', ' this', ' is a', ' string']
['Hell', '', 'werweurguiwerewq', 'rj']
['', 'rtte', 'trter', 'tr', 'tyytt']

In [23]:
# Few more examples

print('\n\n\n\they hey mostofa'.split())
print('\n\n\n\they hey mostofa'.split(' '))
print('\n\n\n\they hey mostofa'.split('\n'))

['hey', 'hey', 'mostofa']
['\n\n\n\they', 'hey', 'mostofa']
['', '', '', '\they hey mostofa']

In [24]:
# Splitlines - splitting at new lines

print('Hey\n How\n are\n are you?'.splitlines())

['Hey', ' How', ' are', ' are you?']

# 9.Join Method

In [25]:
# Join method is used to join the elements in a list using a separator and convert into string

print(''.join(['1','2','3']))
print(','.join(['1','2','3']))
print('$&$'.join(['1','2','3']))

123
1,2,3
1$&$2$&$3

In [26]:
# Join also takes iterable and joins them: list,string,tuple,dictionary,set

s1 = 'abc'
s2 = '12345'

print(s1.join(s2))
print(s2.join(s1))

1abc2abc3abc4abc5
a12345b12345c

# 10.String Formatting

In [27]:
# String formatting using f'string

name = 'Hello'
age = 31
val = 31.23
print(f'{name} is {age} years old')

# Integer value
print(f'The integer value is{age:7d}')
print(f'The integer value is{age:^7d}')
print(f'The integer value is{age:<7d}')
print()
# Decimal value
print(f'The decimal value is{val:12.4f}')
print(f'The decimal value is{val:^12.4f}')
print(f'The decimal value is{val:<12.4f}')

Hello is 31 years old
The integer value is     31
The integer value is  31
The integer value is31

The decimal value is     31.2300
The decimal value is  31.2300
The decimal value is31.2300