# 1.Introductory Basic Concepts

In [1]:
# clearing variables in jupyter notebook: %reset
a = 12
# Commenting in python - single line(#), multiline('''   ''')
# Errors - syntax, logical, indentation
# Data types - int-1, float-1.1, char-'a', string-'abc'
# Data structure types - list-[], tuple-(), dictionary-{key:value}, set-{}
# Type conversions - int(12.12), float(12), str(12)
# Basic functions - min, max, type, len 
# is: check if same memory/reference vs ==: check if equal value
# Garbage collector in python

In [3]:
a = 12
b = 12
print(a,b)
print(id(a),id(b)) # Here, both a and b points to the same value and memory address. This is name binding.
print(a is b, a==b)

12 12
9793440 9793440
True True

# 2.Input

In [6]:
# Input in python

aa = input() # take input as a string
a = input().split(',',3) # split the string at commas, maximum split of 3 parts and will store the parts as a list
# aaa,bbb,ccc = int(input().split()) # wrong syntax if we want to apply int type to multiple variables
ab,bc = map(int, input().split()) # the same thing could be done using map as it will assign int type to all var
lst_a = list(map(int, input().split())) # takes input a list of integers
lst_b = [int(x) for x in input().split()] # taking input a list of integeres using list comprehension
print()

print(aa)
print(a)
print(ab,bc)
print(lst_a)
print(lst_b)

11312313123
12,4,1,2,3,4,5
12 43
12 2 2 2 2 2 14 4 5
123 1323 123 123

11312313123
['12', '4', '1', '2,3,4,5']
12 43
[12, 2, 2, 2, 2, 2, 14, 4, 5]
[123, 1323, 123, 123]

# 3.Print

In [7]:
# Printing in python

l = [1,2,3]
a,b = 34,67.9

print(2,3,4, sep="-", end=' ')
print(34,56)
print(l, *l)
print('first number is {} and second number is {}'.format(a,b))
print('Greeks:{aa:5d} and Portal:{bb:7.3f}'.format(aa=12,bb=54.12))
print(f'The first number is {a} and the second number is {b}')
print(f'The first number is {a:5d} and the second number is {b:5.4f}')
print("hello new line\nthen new tab\tthen new single quatation using escape character\'")

2-3-4 34 56
[1, 2, 3] 1 2 3
first number is 34 and second number is 67.9
Greeks:   12 and Portal: 54.120
The first number is 34 and the second number is 67.9
The first number is    34 and the second number is 67.9000
hello new line
then new tab	then new single quatation using escape character'

# 4.Operators

In [8]:
# Operators - 5 types
# Arithmetic + - * / //
# Assignment = a+=4 means a = a + 4
# Boolean True False
# Relational > < >= <= == !=
# Logical and or not
# Bitwise (later on)
# Or returns first one that evaluates true and last one that evaluates false
# And returns last one that evaluates true and first one that evaluates false

a = True
b = False
print(True, False)
print(int(a), int(b))

True False
1 0

# 5.ASCII Code

In [9]:
# ASCII Code
# (65-90) for (A-Z) & (97-122) for (a-z) & (48-57) for (0-9)

a = ord('c')
aa = chr(99) 
print(a,aa,type(a),type(aa))

99 c <class 'int'> <class 'str'>

# 6.Conditional & Control Statement

In [10]:
# Conditional statement if,elif,else
# Control statement for & while (break,continue)

for i in range(5):
  print(i, end=' ')

print()

for j in range(0,6,1):
  print(j, end=' ')

print('\n')

while(i > 0):
  if i % 2 == 0:
    print(f'{i} is even number')
  else:
    print(f'{i} is odd number')

  i = i - 1

0 1 2 3 4
0 1 2 3 4 5

4 is even number
3 is odd number
2 is even number
1 is odd number

# 7.Enumerate

In [11]:
# Enumerate function - adds a counter to an iterable

lst = [4,5,6,12,34,54]

for idx, val in enumerate(lst):
  item = idx, val
  print(item)
  print(idx,val)

print()
for idx, val in enumerate(range(10,16)):
  item = idx, val
  print(item)

(0, 4)
0 4
(1, 5)
1 5
(2, 6)
2 6
(3, 12)
3 12
(4, 34)
4 34
(5, 54)
5 54

(0, 10)
(1, 11)
(2, 12)
(3, 13)
(4, 14)
(5, 15)

# 8.Function

In [12]:
# Concept of Function
# Function Override
# Local & Global scope - using global variables is a bad practice
# Name binding - important concept
# Namespaces - built-in, global, local, and enclosing
# Function can call function

In [13]:
# 1. Default arguments in function

def my_sum(a,b,c=1,d=2):
  return a+b+c+d

result1 = my_sum(3,7)
result2 = my_sum(1,2,3,4) # overrides the default values

print(result1, result2)

13 10

In [14]:
# 2. Positional argument
# All arguments before / must be specified by position

def f3(x,/,y):
  return x+y

print(f3(1,y=2))
print(f3(1,4))

3
5

In [15]:
# 3. Keyword argument
# All arguments before / must be specified by position

def f3(x,*,y):
  return x+y

print(f3(6,y=7)) # 4
print(f3(x=5,y=5)) # 5

13
10

In [16]:
# Tuple packing

def f():
  return 1,2,3

a,b,c = f()
print(a,b,c) # 6

together = f() # packing
print(type(together)) # 7
x,y,z = together # unpacking
print(x,y,z) # 8

1 2 3
<class 'tuple'>
1 2 3

# 9.Class

In [17]:
# Class in Python
# Full code of python

class FullName:
  def __init__(self, first_name, last_name):
    self.first_name = first_name
    self.middle_name = None
    self.last_name = last_name

class Employee:
  def __init__(self, first_name, last_name, salary, address):
    self.fullname = FullName(first_name, last_name)
    self.address = address
    self.salary = salary

  def print(self):
    print('Employee Salary:', self.salary)
    print('Employee Address:', self.address)

mostafa = Employee('Ziad','Mostafa', 159, '55 BC')
mostafa.print()

Employee Salary: 159
Employee Address: 55 BC