# 1.List intro, input and print

In [3]:
my_list = []
my_list1 = input().split()
my_list2 = list(map(int, input().split()))

print(my_list)
print(my_list1)
print(my_list2)
print(my_list1 + my_list2)
print(my_list2[1])

1 2 3 4 5 6
1 2 3 4 5 6
[]
['1', '2', '3', '4', '5', '6']
[1, 2, 3, 4, 5, 6]
['1', '2', '3', '4', '5', '6', 1, 2, 3, 4, 5, 6]
2

# 2.Changing list element & looping through list

In [12]:
# We can change the list element by my_list2[1] = 9, so 9 will replace 2 in the [1] position

for item in my_list1:
  print(item, end=' ')

# Copying list

print()
print(my_list1)

lstcop = my_list1.copy()
print(lstcop)

1 2 3 4 5 6
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']

# 3.Basic functions - min, max, sum, len

In [13]:
print(my_list2)
print(min(my_list2), max(my_list2), sum(my_list2), len(my_list2))

[1, 2, 3, 4, 5, 6]
1 6 21 6

# 4.Sorting and reversing

In [14]:
my_list3 = [4,1,5,22,90,10,3]

# sort is from small to big
my_list3.sort()
print(my_list3)

[1, 3, 4, 5, 10, 22, 90]

In [15]:
my_list3.sort(reverse = True) # from big to small
print(my_list3)

[90, 22, 10, 5, 4, 3, 1]

In [16]:
a = sorted(my_list3)
print(a)

[1, 3, 4, 5, 10, 22, 90]

In [17]:
# reverse is used to reverse the list
my_list4 = [1,3,4,5,90,22,31]
my_list4.reverse()
print(my_list4)

[31, 22, 90, 5, 4, 3, 1]

In [18]:
my_list = []
my_list = my_list + ['Hey']
my_list = my_list + list('Hey')
print(my_list)

['Hey', 'H', 'e', 'y']

# 5.List methods

In [19]:
my_list = [] # list creation

In [20]:
my_list.append('Hello') # adding an element to list
print(my_list)

['Hello']

In [21]:
my_list.extend([3,1]) # adding multiple elements to list
print(my_list)

['Hello', 3, 1]

In [22]:
my_list.insert(2,'wow') # adding element 'wow' at the position [2]
print(my_list)

['Hello', 3, 'wow', 1]

In [23]:
aa = my_list.index(3) # search and return the first matching index of the element
print(aa, my_list)

1 ['Hello', 3, 'wow', 1]

In [24]:
print(all(my_list)) # return true if all elements are true
print(any([0]),any([]),any(['0']),any([1])) # return true if any element is true

True
False False True True

In [25]:
my_list.append('wow')
print(my_list)
my_list.remove('wow') # removes the first matching element
print(my_list)

['Hello', 3, 'wow', 1, 'wow']
['Hello', 3, 1, 'wow']

In [26]:
aa = my_list.pop() # removes and returns the last element
print(aa, my_list)

wow ['Hello', 3, 1]

In [27]:
aa = my_list.pop(1) # removes and returns the [1] element
print(aa, my_list)

3 ['Hello', 1]

In [28]:
del my_list[1] # removes element at [1] index
print(my_list)

['Hello']

In [29]:
my_list.clear() # clears all the elements in the list
print(my_list)

[]

# 5.Enumerate using list

In [30]:
enum_list = [1,123,123,1,2,3,4]

for idx,item in enumerate(enum_list):
  print(idx, item)

print()

for tupitem in enumerate(enum_list):
  print(tupitem)

0 1
1 123
2 123
3 1
4 2
5 3
6 4

(0, 1)
(1, 123)
(2, 123)
(3, 1)
(4, 2)
(5, 3)
(6, 4)

# 6.Range & Slicing

In [31]:
# Range

print(range(5))
print(range(0,6,1))
print()
# Slicing

new_list = [1,2,3,4,5,6,7,8,9]
idw_list = [0,1,2,3,4,5,6,7,8]

# Extracting sub-list is known as slicing

print(new_list[2:6])
print(new_list[:6])
print(new_list[0:])
print(new_list[1:6:1])
print(new_list[7:1:-1])
print(new_list[:0:-1])
print(new_list[:])
print(new_list[::])
print(new_list[0:6:])
print(new_list[7::])
print(new_list[7::-1])

range(0, 5)
range(0, 6)

[3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6]
[8, 7, 6, 5, 4, 3]
[9, 8, 7, 6, 5, 4, 3, 2]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6]
[8, 9]
[8, 7, 6, 5, 4, 3, 2, 1]

# 7.List Comprehension

In [32]:
# new_list = [expression for member in iterable for condition in iterable]

lst1 = [1,2,3,-4,5,-6,7,9]
lst3 = [n if n>0 else -n for n in lst1 if n%2==0]
print(lst3)

# The condition after iterable applies while taking in elements from the iterable
# The condition before iterable applies on the taken out elements from the iterable

[2, 4, 6]

In [33]:
# More examples of list comprehension

lst11 = [i+i for i in lst1]
print(lst11)
lst22 = [n for n in lst1 if n>0]
print(lst22)

[2, 4, 6, -8, 10, -12, 14, 18]
[1, 2, 3, 5, 7, 9]